@charset "utf-8";

/* VARIAVEIS */
:root{
	--primary: #fe724c;
	--secundary: #ffc529;
	--light: #d7d7d7;
	--background: #272d2f;
	--black: #000;
	--red: #f00;
	--white: #fff;
}
/*como usar a variavel: var(--black-light);*/

/*	Fonte: Gilroy
	yellow	: #ff0529
	red	: #fe724c	
	black	: #272d2f
	white	: #d7d7d7   
*/
/*reset*/
*{
    margin: 0;
    padding: 0;
    -webkit-boz-sizing: border-box;
       -moz-boz-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
	font-family: Arial;
}
:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{
	font-family: 'GothamMedium', Helvetica, Arial;
	font-size: 14px;
	margin: 0;
}

.container-flex{
	max-width: 990px;
	margin: 0 auto;
	height: 100px;
	display: flex;
	justify-content: space-between;
}
.container{
	max-width: 960px;
	margin: 0 auto;
}
header{
	height: 100px;
	background: var(--background);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 999;
}
.logo, .menu{
	display: flex;
	align-items: center;
}
.logo img{
	width: 150px;

}
.logo img:hover{
	width: 155px;
}

.menu ul{
	display: flex;
}
.menu ul li{
	list-style: none;
	margin: 0 5px;
}
.menu a{
	display: block;
	text-decoration: none;
	padding: 10px;
	text-transform: uppercase;
	border-radius: 3px;
	color: var(--secundary);
}
.menu a:hover{
	background: var(--primary);
	color: var(--white);
}

nav .active a{
	background: var(--primary);
	color: var(--white);
}

/*==================================================================
						PAGE HOME
===================================================================*/
main{
	color: var(--light);
	margin-top: 100px;
}
.banner{
	background-image: url('../img/images.jpg');
	background-position: center;
	background-size: cover;
	height: 400px;
	filter: blur(5px);
	opacity: 0.8;
}

.texto-banner{
	position: absolute;
	top: 40px;
	left: 0;
	right: 0;
	text-align: center;
}
.texto-banner h2{
	font-size: 48px;
	color: var(--secundary);
	padding: 50px;
	padding-top: 150px;
	opacity: 1;
}
.texto-banner p{
	font-size: 20px;
	padding-top: 30px;
	color: var(--red);
}

.card-geral{
	width: 100%;
	display: flex;
	height: auto;
	margin-bottom: 10px;
}
.card-geral h1{
	font-size: 20px;
	color: var(--background);
	text-align: center;
	padding: 20px;
	text-transform: uppercase;
}
.card-menu{
	flex: 1;
	margin: 20px 0;
}
.titulo-cat{
	text-align: center;
	font-size: 17px;
	color: var(--white);
	padding: 5px 0;
	background: var(--primary);
	border-radius: 5px;
	margin: 20px 0;
}
.card-item h3{
	width: 100%;
	text-align: center;
	font-size: 18px;
	color: var(--background);
	padding: 5px 0;
	background: var(--white);

}
.card-item {
	text-align: center;
	margin-bottom: 10px;
}
.card-item img:hover{
	background: #eee;
	opacity: 0.8;
}
.card-item img{
	width: 40%;
	border-radius: 30px;
}
.item1 img{
	background-image: url(../assets/img/menu/batata0.png);
}

.card-produto{
	flex: 4;
	height: auto;
	margin: 20px 0;
}
.card-produto ul{
	height: auto;	
	text-align: center;
}
.card-produto ul li{
	max-width: 31%;
	display: inline-block;
	padding-bottom: 15px;
    background: var(--white);
	border-radius: 10px;
	vertical-align: top;
	list-style: none;
	margin: 5px 5px 20px 5px;
	text-align: center;
}
.card-produto ul li h3{
	color: var(--white);
	font-size: 17px;
	padding: 8px 0;
	background: var(--secundary);
	border-radius: 10px 10px 0 0;
	width: 100%;
	margin-bottom: 2px;
}
.card-produto figcaption{
	padding: 10px 4px;
	color: var(--background);
}
.card-produto img{
	max-width: 100%;
	height: 150px;
	margin: 0px 0;
}
.card-produto span{
	color: var(--red);
	font-size: 25px;
	padding: 25px 0px;
}
.card-produto input{
	width: 100%;
	height: auto;
	margin-top: 10px;
	padding: 10px;
	cursor: pointer;
	background: var(--primary);
	color: var(--white);
	font-size: 17px;
	border-radius: 5px;
	border: none;
}
.card-produto input:hover{
	background: var(--secundary);
	font-weight: 500px;
}

.card-carrinhoPrincipal{
	position: fixed;
	top: 90px;
	right: 0;
	width: 22%;
	padding-bottom: 10px;
	color: var(--black);
	margin-right: 20px;
	margin-top: 20px;
	border-radius: 5px;
	background-color: rgb(219, 216, 216);
	border: 1px solid #bbb;

}
.card-titulo{
	background: #333;
	padding: 10px 5px;
	margin: -1px 0 0 -1px;
	text-align: center;
	border-radius: 5px 5px 0 0;
	display: flex;
	align-items: center;
}
.titulo-carrinho{
	color: var(--white);
	width: 100%;
	padding-right: 30px;
}
.btn-closeCarrinho{
	width: 50px;
	color: var(--white);
	text-align: left;
	padding-left: 15px;
	font-size: 22px;
	cursor: pointer;
	user-select: none;
}

.table-headerCart tr{
	width: 100%;
}
.table-headerCart tr th{
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	border: 0px solid var(--black);
	letter-spacing: 3px;
}

.CarValue{
	padding-top: 20px;
	padding-bottom: 5px;
}
.Red{
	color: var(--red);
}
.Green{
	color: rgb(56, 136, 36);
}

.textAlinhadoCenter{
	text-align: center;
}
.btn-cartDiv{
	text-align: center;
	margin-top: 10px;
}
.containerCart{
	width: 90%;
	margin: 0 auto;;
}
.btn-carrinho{
	width: 90%;
	text-align: center;
	height: 30px;
	border: none;
	border-radius: 5px;
	margin-bottom: 10px;
	cursor: pointer;
}
.btn-ColorActive{
	background: #393C41;
	color: var(--white);
	height: 40px;
}
.btn-ColorActive:hover{
	background: #45474b;
	color: var(--white);
}
.btn-ColorDefault{
	background: var(--white);
	color: #393c41;
}
.btn-ColorDefault:hover{
	background: #eee;
	color: #393c41;
}
.table-bodyCartbtn-quant button{
	width: 15px;
}
.table-bodyCartbtn-quant label{
	padding: 0px 15px;
}
footer{
	background: #333;/**/
}
.bloco-geral{
	display: flex;
	justify-content: space-between;
	padding: 30px 0;
	color: var(--white);
}
.bloco-contato, .bloco-endereco, .bloco-social{
	flex: 1;
}
.bloco-contato h1, .bloco-endereco h1, .bloco-social h1, .bloco-pagamento h1{
	color: var(--secundary);
	font-size: 18px;
	text-transform: uppercase;
	padding-bottom: 20px;
}
.bloco-pagamento h1{
	padding-top: 20px;
}

.bloco-contato p, .bloco-endereco p, .bloco-social p{
	padding: 0 0 10px 0;
}


.copyright-f{
	color: var(--white);
	font-size: 15px;
	text-align: center;
	padding: 20px 0;
}
